body {
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    // font-weight: bold;
}

h1 {
    margin: 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 92px;
    font-weight: 700;
    color: #66BFBF;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

hr {
    border-style: dotted none none none;
    border-width: 7px;
    width: 15%;
    color: #d2d4d4;
    margin: 100px auto;
}

.top-container {
    background: #EAF6F6;
    padding-top: 7em;
}

.cloud-1 {
    position: absolute;
    right: 23em;
    top: 3.5em;
}

.cloud-2 {
    position: absolute;
    left: 23em;
}

.mountain {
    width: 100%;
    max-width: max-content;
}

.middle-container {
    .profile {
        padding: 2em 0;
        p {
            width: 40%;
            margin: 0 auto;
        }
        img {
            width: 128px;
        }
    }
    .skill-row {
        width: 50%;
        margin: 100px auto 100px auto;
        text-align: left;
        line-height: 2;
        img {
            width: 25%;
        }
        .sk-img-1 {
            padding-right: 30px;
            float: left;
        }
        .sk-img-2 {
            padding-left: 30px;
            float: right;
        }
    }
    .contact-me {
        p {
            width: 40%;
            margin: 3em auto;
        }
    }
}

.btn {
    padding: .7em 1.4em;
    border-radius: 5px;
    background: linear-gradient(#66BFBF, #11999E);
    text-decoration: none;
    color: white;
}

.btn:hover {
    background: linear-gradient(#72d4d4, #00a8ad);
}

.bottom-container {
    background: #66BFBF;
    padding-top: 2em;
    margin-top: 60px;
    color: #EAF6F6;
    a {
        text-decoration: none;
        margin: 0 1em;
        color: #11999E;
    }
    a:hover {
        color: #EAF6F6;
    }
    p {
        margin: 0;
        padding: 1em 0 2em 0;
    }
}
